src/main/mule/bookmyholiday-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="bookmyholiday-api-config" api="bookmyholiday-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="bookmyholiday-api-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bookmyholiday-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="bookmyholiday-api-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bookmyholiday-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\flights\(flight_id)\booking:application\json:bookmyholiday-api-config">
        <flow-ref doc:name="updatebookingFlow" doc:id="daf5d8ee-f156-4a01-a189-6324a679f43c" name="updatebookingFlow" />
    </flow>
    <flow name="put:\cabs\(cabs_id)\booking:application\json:bookmyholiday-api-config">
        <flow-ref doc:name="updatebookingCabFlow" doc:id="f1ee4878-af1d-47b9-9622-5f2e8f7f51f7" name="updatebookingCabFlow" />
    </flow>
    <flow name="put:\hotels\(hotels_id)\booking:application\json:bookmyholiday-api-config">
        <flow-ref doc:name="updatebookingHotelFlow" doc:id="4c158abd-92e5-4da3-b499-682a3e0f4efa" name="updatebookingHotelFlow" />
    </flow>
    <flow name="put:\cabs:application\json:bookmyholiday-api-config">
        <flow-ref doc:name="updatecabFlow" doc:id="d80cf8e2-403e-4458-b202-58dff0a1bdd6" name="updatecabFlow" />
    </flow>
    <flow name="put:\flights:application\json:bookmyholiday-api-config">
        <flow-ref doc:name="updateFlightFlow" doc:id="0b0009d7-507a-417e-b282-62c1365e027d" name="updateFlightFlow" />
    </flow>
    <flow name="put:\hotels:application\json:bookmyholiday-api-config">
        <flow-ref doc:name="updatehotelFlow" doc:id="34c8a0c8-61d5-450b-8eae-5fe9b15d46a8" name="updatehotelFlow" />
    </flow>
    <flow name="get:\cabs:bookmyholiday-api-config">
        <flow-ref doc:name="getcabsFlow" doc:id="fb9a9116-2ecb-4fc9-89b5-b2da491d633f" name="getcabsFlow" />
    </flow>
    <flow name="get:\flights:bookmyholiday-api-config">
        <flow-ref doc:name="getflightsFlow" doc:id="dd6a09c1-2b74-4dc8-932d-bf3b468c4f30" name="getflightsFlow" />
    </flow>
    <flow name="get:\hotels:bookmyholiday-api-config">
        <flow-ref doc:name="getHotelsFlow" doc:id="fc16620d-46d0-465b-acc2-e7c4eb18559f" name="getHotelsFlow" />
    </flow>
    <flow name="get:\cabs\(cabs_id):bookmyholiday-api-config">
        <flow-ref doc:name="getcabDetailsFlow" doc:id="c4c7557c-51c3-496b-8354-c27a7de07280" name="getcabDetailsFlow" />
    </flow>
    <flow name="get:\flights\(flight_id):bookmyholiday-api-config">
        <flow-ref doc:name="getflightDetailsFlow" doc:id="b2282bc6-3c76-457f-88eb-c7eff93b9fab" name="getflightDetailsFlow" />
    </flow>
    <flow name="get:\hotels\(hotels_id):bookmyholiday-api-config">
        <flow-ref doc:name="getHotelDetailsFlow" doc:id="6987cdf9-00ef-430b-86c7-80328f8a19af" name="getHotelDetailsFlow" />
    </flow>
    <flow name="post:\flights\(flight_id)\booking:application\json:bookmyholiday-api-config">
        <flow-ref doc:name="addbookingFlow" doc:id="63acf156-5ab1-47fc-a364-0042da730093" name="addbookingFlow" />
    </flow>
    <flow name="post:\hotels\(hotels_id)\booking:application\json:bookmyholiday-api-config">
        <flow-ref doc:name="addbookingHotelFlow" doc:id="5ed16a0c-3830-4354-96f0-a32a2f107da7" name="addbookingHotelFlow" />
    </flow>
    <flow name="post:\cabs\(cabs_id)\booking:application\json:bookmyholiday-api-config">
        <flow-ref doc:name="addbookingCabFlow" doc:id="8d16b86a-21c7-43a4-8712-c34047794e44" name="addbookingCabFlow" />
    </flow>
    <flow name="post:\cabs:application\json:bookmyholiday-api-config">
        <flow-ref doc:name="addcabFlow" doc:id="d85ab337-c424-4263-abce-42d5e0ffaa3a" name="addcabFlow" />
    </flow>
    <flow name="post:\flights:application\json:bookmyholiday-api-config">
        <flow-ref doc:name="addflightFlow" doc:id="07ccfb41-685f-44ca-a869-756dbd45097f" name="addflightFlow" />
    </flow>
    <flow name="post:\hotels:application\json:bookmyholiday-api-config">
        <flow-ref doc:name="addHotelsFlow" doc:id="5e42c77e-1811-4edd-ac83-007806b3ef56" name="addHotelsFlow" />
    </flow>
</mule>
